    <div class="login-titulo">
        <h3>¡Hola {{usuario}}!</h3>
        <p>Dejanos tu comentario</p>
    </div>

<div class="login-comentarios">
    <!-- COMENTARIOS -->
    <div class="row">
        <div class="col">
            <table class="table-comentarios">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col" class="text-right"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each comentarios}}
                        <tr>
                            <th scope="row">{{nombre}}</th>
                            <td>{{comentario}}</td>
                            <td class="text-right">
                                <a href="/admin/comentarios/modificar/{{id}}" class="btn"><i>edit</i></a>
                                <a href="/admin/comentarios/eliminar/{{id}}" class="btn"><i>delete</i></a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
        <div>
            <button type="submit" class="btn btn-primary"><a href="/admin/comentarios/agregar">Añadir</a></button>
            <button class="btn btn-primary"><a href="/admin/login/logout">Cerrar Sesión</a></button>
            <button type="submit" class="btn btn-primary"><a href="/">Atrás</a></button>
        </div>
    <!-- FIN COMENTARIOS -->