    <div class="contenedor-mayor">
        <h3>Noticias recientes:</h3>
        <div class="buscador">
            <form action="/admin/novedades" method="get">
                <input class="form-control" placeholder="¿Qué estás buscando...?" type="search" aria-label="Search" name="q" 
                    {{#if query}} 
                        value="{{query}}" 
                    {{/if}}>
                <button class="btn" type="submit">Buscar</button>
            </form>
                {{#if is_search}}
                    {{#unless novedades.length}}
                        <div class="sin-resultados">
                            <p> No se encontraron resultados para: "{{query}}"</p>
                        </div>
                    {{/unless}}
                    <div class="boton-regresar">
                        <div>
                            <a href="/admin/novedades"><button class="btn">Atrás</button></a>
                        </div>
                    </div>
                {{/if}}
        </div>
    </div>

    <div class="contenedor-novedades">
        {{#each novedades}}
        <div>
            <div class="novedades">
                <div class="contenido-novedad">
                    <h5>{{titulo}}</h5>
                    <p>{{subtitulo}}</p>
                    <button class="btn" data-bs-toggle="modal" data-bs-target="#Modal{{id}}">Más información</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{#if novedades.length}}
        {{#unless is_search}}
            <div class="boton-regresar">
                <a href="/"><button class="btn">Regresar</button></a>
            </div>
        {{/unless}}
    {{/if}}

    {{#each novedades}}
    <div class="modal fade" id="Modal{{id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ExampleModalLabel">{{titulo}}</h5>
                </div>
                <div class="modal-body">
                    <p>{{contenido}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}